
<div class="col-md-9">
   <div class="panel panel-primary">
      <div class="panel-heading clearfix">
         <h4 class="pull-left">Blog Posts</h4>
         <%= link_to new_blog_path, class:"btn btn-info pull-right" do %><i class="fa fa-plus"></i> New Post<% end %>
      </div>
      <div class="panel-body">
         <div class="table-responsive">
            <table class="table">
               <thead>
                  <tr>
                     <th class="col-md-2">Title</th>
                     <th class="col-md-5">Description</th>
                     <th class="col-md-2">Author</th>
                     <th class="col-md-2">Created On</th>
                     <th  class="col-md-1"></th>
                  </tr>
               </thead>
               <tbody>
                  <% @blogs.each do |blog| %>
                  <tr>
                     <td class="col-md-2"><%= link_to blog.title, post_path(blog) %></td>
                     <td class="col-md-5"><%= truncate(blog.description, :length => 500) %></td>
                     <td class="col-md-2"><%= blog.user.first_name %> <%= blog.user.last_name %></td>
                     <td class="col-md-2"><%= blog.created_at.strftime("%b. %d, %Y") %></td>
                     <td class="col-md-1">
                        <span class="pull-right">
                           <%= link_to edit_blog_path(blog), data: {toggle: "tooltip", title: "Edit Post"} do %>
                           <i class="fa fa-wrench"></i>
                           <% end %>
                           &nbsp | &nbsp
                           <%= link_to blog, method: :delete, data: { toggle: "tooltip", title: "Edit Event", confirm: 'Are you sure?' } do %>
                           <i class="fa fa-remove"></i>
                           <% end %>
                        </span>
                     </td>
                  </tr>
                  <% end %>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
