<div class="col-md-9">
	<div class="panel panel-primary">
		<div class="panel-heading">Revise Post Details</div>
		<div id="editform">
			<div class="col-md-6">
				<p>
					<strong>Title:</strong>
					<%= @blog.title %>
				</p>
				<p>
					<strong>Description:</strong>
					<%= @blog.description %>
				</p>
			</div>
			<div class="col-md-6">
				<%= image_tag @blog.avatar.url(:medium), class:"img-responsive" %>
			</div>
			<%= link_to 'Save', blogs_path, class:"btn btn-success" %>
		</div>
	</div>
</div>
<span class="pull-right">
	<%= link_to 'Back', blogs_path %>
</span>
