<div class="col-md-10 col-md-offset-1">
   	<div class="wrapper">
      	<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation"><%= link_to "Home", welcome_index_path %></li>
				<li role="presentation"><%= link_to "Events", events_path %></li>
				<li role="presentation" class="active"><%= link_to "Blog Posts", blogs_path %></li>
				<li role="presentation"><%= link_to "My Tasks", tasks_path %></li>
				<li role="presentation"><%= link_to "Edit Profile", edit_user_registration_path %></li>
			</ul>
			<hr>
		</div>
      	<div class="col-md-9">
         	<div class="panel panel-primary">
            	<div class="panel-heading">Revise Post Details</div>
               		<div id="editform">
               			<div class="col-md-6">
			               	<p>
							  <strong>Title:</strong>
							  <%= @blog.title %>
							</p>

							<p>
							  <strong>Description:</strong>
							  <%= @blog.description %>
							</p>
               			</div>
               			<div class="col-md-6">
               				<%= image_tag @blog.avatar.url(:medium), class:"img-responsive" %>
               			</div>
						<%= link_to 'Save', blogs_path, class:"btn btn-success" %>
               		</div>
				</div>
            </div>
         </div>
      </div>
   </div>
</div>

