<head>
	<title>About</title>

</head>

	<div class="row">
		<div class="container-fluid nopadding">
			<!-- Carousel -->
			<div class="col-md-12 banner nopadding hidden-sm hidden-xs">
 
				<%= image_tag("bg/RainierPeak.jpg", class:"img-responsive") %>
					  
			</div>

			<!-- About The Watershed Council -->
			<div class="col-md-12 bigmgn">
				<h1 class="text-center thicker">ABOUT THE WATERSHED COUNCIL</h1>
				<h5 class=" text-center text-muted">Local Community Leaders Focused On A More Vibrant Community</h5 class="text-muted">
			</div>
			<div class="col-md-12">
				<div class="center-icon center-block">
					<div class="img-square">
						<%= image_tag("break-element.jpg", class:"img-responsive") %>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-4 col-md-push-8">
						<%= image_tag("logo2.png", class: "img-responsive border center-block margin") %>
					</div>
					<div class="col-md-8 col-md-pull-4">
						<p class="text text-muted">
							The Puyallup River Watershed Council(PRWC) works to restore, protect and enhance the environmental, ecomonic and cultural health of our watershed, from Mount Rainier to Commencement Bay.  We are citizens and representatives of businesses, governments and other groups collaborating to achieve clean water, healthy habitat and thriving communities.
						</p>
						<p class="text text-muted">
							The PRWC is a private, nonprofit, charitable 501 (c)(3) organization that promotes and implements programs that help restore, maintain and enhance the Puyallup River Watershed in order to protect its environmental, economic and cultural health.
						</p>
						<p class="text text-muted">
							We encourage you to join us to learn more about the Puyallup River Watershed. Our meetings, field trips and educational events are free and open to the public. We welcome your participation and interest in the PRWC's work.
						</p>
					</div>
				</div>
			</div>
			<!-- Watershed Partners -->
			<div class="col-md-12 bigmgn">
				<h1 class="text-center thicker">WATERSHED PARTNERS</h1>
				<h5 class=" text-center text-muted">Local Community Members and Businesses Focused On A More Vibrant Community</h5 class="text-muted">
			</div>
			<div class="center-icon center-block bigmgn img-square">
				<%= image_tag("break-element.jpg", class:"img-responsive") %>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/sky9.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/sky9.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/sky9.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/sky9.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/sky9.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/sky9.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/sky9.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/sky9.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/sky9.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/sky9.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/sky9.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<div class="nopadding">
								<%= image_tag("partners/sky9.png", class:"img-responsive") %>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="center-icon center-block bigmgn img-square">
				<%= image_tag("break-element.jpg", class:"img-responsive") %>
			</div>
		</div>
	</div>