	<!-- Banner -->
	<div class="row nopadding">
		<%= image_tag("bg/RainierPeak.jpg", class:"img-responsive") %>

		<!-- About The Watershed Council -->
		<h1 class="text-center thicker bigmgn">ABOUT THE WATERSHED COUNCIL</h1>
		<h5 class=" text-center text-muted">Local Community Leaders Focused On A More Vibrant Community</h5>
		<div class="center-icon center-block img-square">
			<%= image_tag("break-element.jpg", class:"img-responsive") %>
		</div>
		<div class="col-md-12 margin">
			<div class="col-md-8 col-md-offset-2">
				<div class="col-xs-12 col-md-4 col-md-push-8">
					<%= image_tag("logo2.png", class: "img-responsive border center-block margin") %>
				</div>
				<div class="col-md-8 col-md-pull-4">
					<p class="text text-muted">
						The Puyallup River Watershed Council(PRWC) works to restore, protect and enhance the environmental, ecomonic and cultural health of our watershed, from Mount Rainier to Commencement Bay.  We are citizens and representatives of businesses, governments and other groups collaborating to achieve clean water, healthy habitat and thriving communities.
					</p>
					<p class="text text-muted">
						The PRWC is a private, nonprofit, charitable 501 (c)(3) organization that promotes and implements programs that help restore, maintain and enhance the Puyallup River Watershed in order to protect its environmental, economic and cultural health.
					</p>
					<p class="text text-muted">
						We encourage you to join us to learn more about the Puyallup River Watershed. Our meetings, field trips and educational events are free and open to the public. We welcome your participation and interest in the PRWC's work.
					</p>
				</div>
			</div>
		</div>
		<!-- Watershed Partners -->
		<h1 class="text-center thicker bigmgn">WATERSHED PARTNERS</h1>
		<h5 class=" text-center text-muted">Local Community Members and Businesses Focused On A More Vibrant Community</h5>
		<div class="center-icon center-block img-square">
			<%= image_tag("break-element.jpg", class:"img-responsive") %>
		</div>
		<div class="col-md-12 margin">
			<div class="col-md-8 col-md-offset-2">
				<div class="col-md-12 col-lg-6 nopadding">
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://sky9.us/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/sky9.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://sky9.us/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/sky9.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://sky9.us/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/sky9.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
						</a>
					</div>
				</div>
				<div class="col-md-12 col-lg-6 nopadding">
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://sky9.us/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/sky9.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/sky9.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/sky9.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://sky9.us/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
						</a>
					</div>
				</div>
				<div class="col-md-12 col-lg-6 nopadding">
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://sky9.us/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/sky9.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://sky9.us/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/sky9.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://sky9.us/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/sky9.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link nopadding"  target="_blank">
							<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
						</a>
					</div>
				</div>
				<div class="col-md-12 col-lg-6 nopadding">
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<%= image_tag("partners/sky9.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<%= image_tag("partners/sky9.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://fixautopuyallup.com/" class="blog-link"  target="_blank">
							<%= image_tag("partners/sky9.png", class:"img-responsive") %>
						</a>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-2 nopadding">
						<a href="http://sky9.us/" class="blog-link"  target="_blank">
							<%= image_tag("partners/fixauto.png", class:"img-responsive") %>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
