	<div class="row nopadding">
		<!-- Instagram Banner -->
		<div class="box">
			<div id="instagram" class="row-fluid" dir="ltr">
				<% @instagram.each do |instagram| %>
				<div class="igPic nopadding">
					<%= link_to href:'http://www.instagram.com/thepabfather', :class => "blog-link" do %>
				    <%= image_tag instagram.images.standard_resolution.url, class:"img-responsive" %>
				  	<% end %>
				</div>
				<% end %>
			</div>
		</div>
		<h1 class="text-center thicker ig">Share your #PRWLife stories with us on <a href="https://www.instagram.com/">Instagram</a></h1>
		<h1 class="text-center thicker bigmgn">WATERSHED BLOG</h1>
		<h5 class=" text-center text-muted">Learn about what's going on in your Watershed</h5 class="text-muted">		
		<div class="center-icon center-block">
			<div class="img-square">
				<%= image_tag("break-element.jpg", class:"img-responsive") %>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-8 col-md-offset-2">
			<% @blogs.each do |b| %>
				<% if b.id.even? %>
				<div class="col-md-8 col-md-offset-2 border blog">
					<a href="<%= post_path(b) %>" class="blog-link">
						<div class="col-sm-7 col-md-5 nopadding">
							<%= image_tag b.avatar.url(:medium), class:"img-responsive" %>
						</div>
						<div class="col-sm-5 col-md-7">
							<span class="">
								<h3><%= b.title %></h3>
								<small>By Patty Denny - 12/12/15</small>
							</span>
						</div>
					</a>
				</div>
				<% else %>
				<div class="col-md-8 col-md-offset-2 border blog">
					<a href="<%= post_path(b) %>" class="blog-link">
						<div class="col-sm-7 col-md-5 col-md-push-7 nopadding">
							<%= image_tag b.avatar.url(:medium), class:"img-responsive pull-right" %>
						</div>
						<div class="col-sm-5 col-md-7 col-md-pull-5">
							<span class="">
								<h3><%= b.title %></h3>
								<small>By Patty Denny - 12/12/15</small>
							</span>
						</div>
					</a>
				</div>
				<% end %>
			<% end %>
			</div>
		</div>	
	</div>	
