<div class="container-fluid nopadding">
	<!-- Banner -->
	<%= image_tag("bg/white-river.jpg", class:"img-responsive") %>
	<!-- Explore The Watershed -->
	<h1 class="text-center thicker bigmgn">EXPLORE THE WATERSHED</h1>
	<h5 class=" text-center text-muted">The Puyallup River Watershed Pano Project</h5 class="text-muted">		
	<div class="center-icon center-block">
		<div class="img-square">
			<%= image_tag("break-element.jpg", class:"img-responsive") %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="nopadding col-xs-12 col-sm-6 col-md-6 col-lg-3">
				<div class="col-md-12 nopadding">
					<a href="#" class="blog-link">
						<%= image_tag("virtual/rainier_.jpg", class:"img-responsive") %>
					</a>
				</div>
				<div class="col-md-12 nopadding">
					<a href="#" class="blog-link">
						<%= image_tag("virtual/enumclaw_.jpg", class:"img-responsive") %>
					</a>
				</div>
				<div class="col-md-12 nopadding">
					<a href="#" class="blog-link">
						<%= image_tag("virtual/buckley_.jpg", class:"img-responsive") %>
					</a>
				</div>
			</div>	
			<div class="nopadding col-xs-12 col-sm-6 col-md-6 col-lg-3">
				<div class="col-md-12 nopadding">
					<a href="#" class="blog-link">
						<%= image_tag("virtual/puyallup_.jpeg", class:"img-responsive") %>
					</a>
				</div>
				<div class="col-md-12 nopadding">
					<a href="#" class="blog-link">
						<%= image_tag("virtual/whiteriver_.jpeg", class:"img-responsive") %>
					</a>
				</div>
				<div class="col-md-12 nopadding">
					<a href="#" class="blog-link">
						<%= image_tag("virtual/port_container_.jpeg", class:"img-responsive") %>
					</a>
				</div>
				<div class="col-md-12 nopadding">
					<a href="#" class="blog-link">
						<%= image_tag("virtual/sumner_.jpeg", class:"img-responsive") %>
					</a>
				</div>
			</div>	
			<div class="nopadding col-xs-12 col-sm-12 col-md-12 col-lg-6">
				<div class="col-md-12 nopadding">
					<a href="#" class="blog-link">
						<%= image_tag("virtual/farm_.jpg", class:"img-responsive") %>
					</a>
				</div>
				<div class="col-md-12 nopadding">
					<a href="#" class="blog-link">
						<%= image_tag("virtual/laketapps_.jpg", class:"img-responsive") %>
					</a>
				</div>
				<div class="col-md-12 nopadding">
					<a href="#" class="blog-link">
						<%= image_tag("virtual/greenriver_.jpg", class:"img-responsive") %>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Events Stream -->
	<div class="col-sm-12 event">
		<h2 class="col-lg-4 thick"> Next Upcoming Event:</h2>
		<h2 class="col-lg-4 thick"> Event Title Will Go Here </h2>
		<h2 class="col-lg-4 thick"> 12/12/16 <%= link_to "View All", home_events_path, class:"ebutton pull-right" %></h2>
	</div>
	<!-- About Board Members -->
	<div class="col-md-12 bigmgn">
		<h1 class="text-center thicker">OUR BOARD</h1>
		<h5 class=" text-center text-muted">Local Community Leaders Focused On A More Vibrant Community</h5 class="text-muted">		
	</div>
	<div class="row">
		<div class="center-icon center-block">
			<div class="img-square">
				<%= image_tag("break-element.jpg", class:"img-responsive") %>
			</div>
		</div>
		<div class="container">
			<div class="col-xs-6 col-md-3">
				<%= image_tag("board/patty.png", class:"img-responsive") %>
			</div>
			<div class="col-xs-6 col-md-3">
				<%= image_tag("board/Mark_Heckert.png", class:"img-responsive") %>
			</div>
			<div class="col-xs-6 col-md-3">
				<%= image_tag("board/Mark_Lavergne.png", class:"img-responsive") %>
			</div>
			<div class="col-xs-6 col-md-3">
				<%= image_tag("board/Mark_Palmer.png", class:"img-responsive") %>
			</div>
		</div>
	</div>
	<div class="teamBox">
		<p>This is a break point.</p>
	</div>	
	<!-- Blog Partial -->
	<div class="col-md-12 bigmgn">
		<h1 class="text-center thicker">WATERSHED BLOG</h1>
		<h5 class=" text-center text-muted">Built By Our Elite Author's Love & Professionalism</h5 class="text-muted">	
	</div>
	<div class="center-icon center-block img-square">
		<%= image_tag("break-element.jpg", class:"img-responsive") %>
	</div>
	<div class="col-xs-12 col-md-8 col-md-offset-2 border blog">
		<a href="#" class="blog-link">
			<div class="visible-xs visible-sm col-xs-12 blog-title-sm">
				<h3>Title Goes Here</h3>
			</div>
			<div class="col-md-12 nopadding">
				<div class="col-sm-12 col-md-5 nopadding">
					<%= image_tag("img/meadow.jpeg", class:"img-responsive") %>
				</div>
				<div class="col-md-7 hidden-xs hidden-sm">
					<span class="blog-title-lg">
						<h3>Title Goes Here</h3>
						<small>By Patty Denny - 12/12/15</small>
					</span>
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-12 col-md-8 col-md-offset-2 border blog">
		<a href="#" class="blog-link">
			<div class="visible-xs visible-sm col-xs-12 blog-title-sm">
				<h3>Title Goes Here</h3>
			</div>
			<div class="col-sm-12 col-md-5 col-md-push-7 nopadding">
				<%= image_tag("img/floods-in-washington.jpeg", class:"img-responsive pull-right") %>
			</div>
			<div class="hidden-xs col-md-7 col-md-pull-5">
				<span>
					<h3>Title Goes Here</h3>
					<small>By Patty Denny - 12/12/15</small>
				</span>
			</div>
		</a>
	</div>
	<div class="center-icon center-block img-square">
		<%= image_tag("break-element.jpg", class:"img-responsive") %>
	</div>
	<!-- Membership Options -->
	<div class="row membership padding bigmgn">
		<h1 class="text-center thicker white-font">SUPPORT</h1>
		<h5 class=" text-center text-muted white-font">Help to keep our waters clean and flowing</h5 class="text-muted">		
		<div class="container">
			<div class="col-md-12">
				<div class="row">
					<div class="hidden-xs hidden-sm col-md-4 plans">
						<%= image_tag("bg/member1.png", class:"img-responsive") %>
					</div>				
					<div class="hidden-xs hidden-sm col-md-4 plans">
						<%= image_tag("bg/member2.png", class:"img-responsive") %>
					</div>
					<div class="hidden-xs hidden-sm col-md-4 plans">
						<%= image_tag("bg/member3.png", class:"img-responsive") %>
					</div>
					<h3 class="text-center"><a href="#contact" id="plan_link">View All Subscriptions</a></h3>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact Us -->
	<div class="col-md-12 bigmgn">
		<h1 class="text-center thicker">CONTACT US</h1>
		<h5 class=" text-center text-muted">Better Chance To Get To Know More</h5 class="text-muted">		
	</div>
	<div class="col-md-12">
		<div class="center-icon center-block">
			<div class="img-square">
				<%= image_tag("break-element.jpg", class:"img-responsive") %>
			</div>
		</div>
	</div>
	<div class="row margin nopadding">
		<div id="gmap" class="col-md-12 nopadding">
			<div id="contact" class="col-md-5">
				<div class="col-md-8 col-md-offset-2 contact-form padding">
					<h3 class="text-center white-font">Send Us A Message</h3>
					<%= render "contact/new" %>
				</div>
			</div>
			<div class="col-md-7 nopadding">
				<div class="embed-responsive embed-responsive-16by9 short">
					<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2711.393870736967!2d-122.29563194842797!3d47.18930287905687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490fc1b4a569659%3A0x2ee6339483e2c083!2s333+S+Meridian%2C+Puyallup%2C+WA+98371!5e0!3m2!1sen!2sus!4v1454619516339" width="100%" height="500" frameborder="0" style="border:0">
					</iframe>
				</div>		
			</div>
		</div>
	</div>
</div>

