<div class="col-md-10 col-md-offset-1">
	<div class="wrapper">
		<div class="col-md-3">
         	<ul class="nav nav-pills nav-stacked">
            	<li role="presentation" class="active"><%= link_to "Home", welcome_index_path %></li>
            	<li role="presentation"><%= link_to "Events", events_path %></li>
            	<li role="presentation"><%= link_to "Blog Posts", blogs_path %></li>
            	<li role="presentation"><%= link_to "My Tasks", tasks_path %></li>
            	<li role="presentation"><%= link_to "Edit Profile", edit_user_registration_path %></li>
         	</ul>
         	<hr>
      	</div>
		<div class="col-md-9">
			<div class="col-md-6">
				<div class="panel panel-primary">
			        <div class="panel-heading clearfix">
			        	<h4 class="pull-left">Upcoming Events</h4> 
			        	<%= link_to new_event_path, class:"btn btn-info pull-right" do %><i class="fa fa-plus"></i> New Event<% end %>
			        </div>
				    <div class="panel-body">
				    	<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr class="thick">
										<td>Title</td>
										<td>Event Details</td>
										<td>Date</td>
									</tr>
								</thead>
						  		<tbody>
							    	<% @events.each do |e| %>
							    	<tr>
							    		<td><%= e.title %></td>
							    		<td><%= truncate(e.description, :length => 30) %></td>
							    		<td><%= e.date.strftime("%b. %d, %Y @ %l:%M %p") %></td>
							    	</tr>
							    	<% end %>
							    </tbody>
							</table>
						</div>
					</div>
			    </div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
			        <div class="panel-heading clearfix">
			        	<h4 class="pull-left">Recent Blog Posts</h4> 
			        	<%= link_to new_blog_path, class:"btn btn-info pull-right" do %><i class="fa fa-plus"></i> New Post<% end %>
			        </div>
				    <div class="panel-body">
				    	<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr class="thick">
										<td>Title</td>
										<td>Content</td>
										<td>Created On</td>
									</tr>
								</thead>
						  		<tbody>
							    	<% @posts.each do |b| %>
							    	<tr>
							    		<td><%= b.title %></td>
							    		<td><%= truncate(b.description, :length => 30) %></td>
							    		<td><%= b.created_at.strftime("%b. %d, %Y") %></td>
							    	</tr>
							    	<% end %>
							    </tbody>
							</table>
						</div>
					</div>
			    </div>
			</div>
			<div class="col-md-12">
				<div class="panel panel-primary">
			        <div class="panel-heading clearfix">
			        	<h4 class="pull-left">Projects</h4> 
			        	<%= link_to new_project_path, class:"btn btn-info pull-right" do %><i class="fa fa-plus"></i> New Project<% end %>
			        </div>
				    <div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
						  		<thead>
						  			<tr class="thick">
						  				<td>Priority Level</td>
						  				<td>Project Name</td>
						  				<td>Created By</td>
							  			<td>Created On</td>
							  			<td>Deadline</td>
							 			<td>Progress</td>
										<td>Open Tasks</td>
						  			</tr>
						  		</thead>
						  		<tbody>
						  			<% @projects.each do |p| %>
						  			<tr>
							  			<td><%= p.priority %></td>
							  			<td><%= link_to p.title, edit_project_path(p) %></a></td>
							  			<td><%= p.user.first_name %> <%= p.user.last_name %></td>
							  			<td><%= p.created_at.strftime("%b. %d, %Y") %></td>
							  			<td><%= p.deadline.strftime("%b. %d, %Y") %></td>
							  			<td>
							  				<div class="progress">
										  		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
										    	90%
										  		</div>
											</div>
										</td>
							  			<td>3</td>
						 			</tr>
						 			<% end %>
						  		</tbody>
							</table>
				        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
