		<div class="col-md-9">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading clearfix">
						<h4 class="pull-left">Upcoming Meetings</h4>
						<%= link_to new_minute_path, class:"btn btn-info pull-right" do %><i class="fa fa-plus"></i> New Meeting<% end %>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr class="thick">
										<td>Date</td>
										<td>Meeting</td>
										<td>Location</td>
									</tr>
								</thead>
								<tbody>
									<% @meetings.each do |m| %>
									<tr data-link="<%= project_path(m) %>" class="button">
										<td><%= m.date.strftime("%b. %d, %Y @ %l:%M %p") %></td>
										<td><%= m.title %></a></td>
										<td><%= m.location %></td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading clearfix">
						<h4 class="pull-left">Upcoming Events</h4>
						<%= link_to new_event_path, class:"btn btn-info pull-right" do %><i class="fa fa-plus"></i> New Event<% end %>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr class="thick">
										<td>Title</td>
										<td>Event Details</td>
										<td>Date</td>
									</tr>
								</thead>
								<tbody>
									<% @events.each do |e| %>
									<tr data-link="<%= edit_event_path(e) %>" class="button">
										<td>
											<%= e.title %>
										</td>
										<td><%= truncate(e.description, :length => 30) %></td>
										<td><%= e.date.strftime("%b. %d, %Y @ %l:%M %p") %></td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading clearfix">
						<h4 class="pull-left">Recent Blog Posts</h4>
						<%= link_to new_blog_path, class:"btn btn-info pull-right" do %><i class="fa fa-plus"></i> New Post<% end %>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr class="thick">
										<td>Title</td>
										<td>Content</td>
										<td>Created On</td>
									</tr>
								</thead>
								<tbody>
									<% @posts.each do |b| %>
									<tr data-link="<%= post_path(b) %>" class="button">
										<td><%= b.title %></td>
										<td><%= truncate(b.description, :length => 30) %></td>
										<td><%= b.created_at.strftime("%b. %d, %Y") %></td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading clearfix">
						<h4 class="pull-left">Projects</h4>
						<%= link_to new_project_path, class:"btn btn-info pull-right" do %><i class="fa fa-plus"></i> New Project<% end %>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr class="thick">
										<td>Priority Level</td>
										<td>Project Name</td>
										<td>Created By</td>
										<td>Created On</td>
										<td>Deadline</td>
										<td>Progress</td>
									</tr>
								</thead>
								<tbody>
									<% @projects.each do |p| %>
									<tr data-link="<%= project_path(p) %>" class="button">
										<td><%= p.priority %></td>
										<td><%= p.title %></a></td>
										<td><%= p.user.first_name %> <%= p.user.last_name %></td>
										<td><%= p.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%b. %d, %Y") %></td>
										<td><%= p.deadline.strftime("%b. %d, %Y") %></td>
										<td>
											<% if p.tasks.count == 0 %>
											No tasks created
											<% elsif p.tasks.count == 1 %>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
													0%
												</div>
											</div>
											<% else p.tasks.where(:completed => true).count > 0 %>
											<div class="progress">
												<% math = ( p.tasks.where(:completed => true).count.to_f / p.tasks.count) %>
												<% decimal = math * 100 %>
												<% percent = number_with_precision(decimal, precision: 0)  %>
												<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%">
													<%= percent %>%
												</div>
												<% end %>
											</div>
										</td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$("tr[data-link]").click(function() {
        window.location = $(this).data('link');
    });
	</script>
