<div class="col-md-9">

    <p id="notice"><%= notice %></p>
    <h3>
        <%= @album.title %>
    </h3>
    <h4 class="margin-bottom-20">
        <%= @album.description %>
    </h4>
    <div class="album">
        <%= image_tag @album.avatar.url(:medium), class:"margin-bottom-20 img-responsive" %>
    </div>
    <div class="gallery margin-bottom-20">
        <% @album.photographs.each do |pic| %>
            <div class="image margin-bottom-10">
                <%=link_to image_tag(pic.avatar.url(:small)),   pic.avatar.url(:original), class:"fancybox img-responsive", title:"#{pic.name}" %>
                <h4><%= truncate(pic.name, length:39) %></h4>
            </div>
        <% end %>
    </div>
    <%= link_to 'Edit', edit_album_path(@album) %> |
    <%= link_to 'Back', albums_path %>
</div>
