<div class="col-md-9">
   <div class="panel panel-primary">
      <div class="panel-heading clearfix">
         <h4 class="pull-left">Events</h4>
         <%= link_to new_minute_path, class:"btn btn-info pull-right" do %><i class="fa fa-plus"></i> New Event<% end %>
      </div>
      <div class="panel-body">
         <div class="table-responsive">
            <table class="table">
               <thead>
                  <tr>
                     <th class="col-md-2">Meeting</th>
                     <th class="col-md-5">Location</th>
                     <th class="col-md-4">Meeting Date</th>
                     <th class="col-md-1"></th>
                  </tr>
               </thead>

               <tbody>
    <% @minutes.each do |minute| %>
      <tr>
        <td><%= minute.title %></td>
        <td><%= minute.location %></td>
        <td><%= minute.date.strftime("%b. %d, %Y @ %l:%M %p") %></td>
        <td><%= link_to 'Show', minute %><%= link_to 'Edit', edit_minute_path(minute) %><%= link_to 'Destroy', minute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
