<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photograph.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @photograph.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @photograph.user %>
</p>

<%= link_to 'Edit', edit_photograph_path(@photograph) %> |
<%= link_to 'Back', photographs_path %>
