<%= bootstrap_form_for(@newsletter_list) do |f| %>
    <% if @newsletter_list.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@newsletter_list.errors.count, "error") %> prohibited this newsletter_list from being saved:</h2>
            <ul>
                <% @newsletter_list.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= f.text_field :name, hide_label: true, placeholder:"Full Name", required:true %>
    <%= f.email_field :email, hide_label: true, placeholder:"E-Mail", required:true %>
    <%= f.hidden_field :recap, required:true, id:'recap' %>
    <button class="g-recaptcha btn btn-block btn-success" data-sitekey="6Lfl6DUUAAAAADDDXGVBoCqyDVx5UobtGSjByBSC" data-callback="OnSubmitFn"> Submit </button>
<% end %>
<script type="text/javascript">
function OnSubmitFn(){
    var form = document.getElementById("new_newsletter_list")
    var name = document.getElementById("newsletter_list_name")
    var email = document.getElementById("newsletter_list_email")
    var val = document.getElementsByName("g-recaptcha-response")

    if(val && val[0].value && name.value && email.value) {
        var input = document.getElementById("recap");
        input.setAttribute("value", val[0].value);
        form.submit();
    } else {
        grecaptcha.reset()
        alert('invalid submission')
    }
}
</script>
