<%= bootstrap_form_for(@newsletter_list) do |f| %>
  <% if @newsletter_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter_list.errors.count, "error") %> prohibited this newsletter_list from being saved:</h2>
      <ul>
      <% @newsletter_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :name, hide_label: true, placeholder:"Full Name" %>
    <%= f.email_field :email, hide_label: true, placeholder:"E-Mail" %>
  <div class="actions">
    <%= f.submit "Sign Up", class:"btn btn-primary btn-block" %>
  </div>
<% end %>
