<!DOCTYPE html>
<html>
<head>
  <title>Puyallup River Watershed Council</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "bootstrap-glyphicons.css" %>
  <%= stylesheet_link_tag 'application', "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" %>
</head>
<body>
	<div class="row padding">
		<div class="container-fluid">
			<% if user_signed_in? %>
				<%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %>
			<% else %>
			<%= link_to "Sign Up", new_user_registration_path %>
			<%= link_to "Sign In", user_session_path %>
			<% end %>
			<div class="col-xs-6 col-md-8 col-md-offset-1">
				<div class="img-square">
					<%= image_tag("logo2.png", class: "img-responsive logo") %>
				</div>
			</div>
			<div class="col-xs-6 col-md-2">
				<span class="padding">
					<h4 class="text-right text-muted"><a href="mailto:prwc.sec@gmail.com"><i class="fa fa-envelope"></i></a>  prwc.sec@gmail.com</h4>
					<h4 class="text-right text-muted"><a href="mailto:prwc.sec@gmail.com"><i class="fa fa-map-marker"></i></a>  333 South Meridian<br> Puyallup, WA 98372</h4>
				</span>
			</div>
		</div>
	</div>
	<div class="row nopadding">
		<nav id="myNavbar" class="navbar navbar-inverse  nopadding">
  		<div class="container-fluid nopadding">
    
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse navbar-left" id="main-nav">
		      	<ul class="nav navbar-nav">
		        	<li id="menu-margin"class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %>
		        	<li class="<%= 'active' if current_page?(home_about_path) %>"><%= link_to "About", home_about_path %></li>
		        	<li class="<%= 'active' if current_page?(home_events_path) %>"><%= link_to "Events", home_events_path %>
		        	<li class="<%= 'active' if current_page?(home_blog_path) %>"><%= link_to "Blog", home_blog_path %>
		        	<li class="<%= 'active' if current_page?(home_memberships_path) %>"><%= link_to "Sponsor", home_memberships_path %></li>
		        	<li id="contactScroll" class="<%= 'active' if current_page?(home_index_path(:anchor => "contact")) %>"><%= link_to("Contact", home_index_path(:anchor => "contact")) %></li>
		      	</ul>
		    </div> 
		    <div class="hidden-xs collapse navbar-collapse navbar-right">
          		<ul class="nav navbar-nav" id="removeOnCollapse">
		        	<li class="inline"><a href="#" class="inline"><i class="fa fa-facebook-f"></i></a></li>
		        	<li class="inline"><a href="#" class="inline"><i class="fa fa-linkedin"></i></a></li>
		        	<li class="inline"><a href="#" class="inline"><i class="fa fa-instagram"></i></a></li>
		        	<li class="inline"><a href="#" class="inline"><i class="fa fa-youtube"></i></a></li>
		      	</ul>
		    </div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
		</nav>
	</div>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
	
	<nav id="top" class="navbar navbar-inverse navbar-fixed-bottom">
	<nav class="navbar navbar-inverse navbar-fixed-bottom">
  		<div class="container-fluid">
  		</div>
  	</nav>
  	</nav>
	<nav class="navbar navbar-inverse navbar-fixed-bottom">
  	<div class="container-fluid">
	<ul class="nav navbar-nav navbar-right inline">
		<li class="col-xs-3"><a href="#" class="inline"><i class="fa fa-facebook-f"></i></a></li>
		<li class="col-xs-3"><a href="#" class="inline"><i class="fa fa-linkedin"></i></a></li>
		<li class="col-xs-3"><a href="#" class="inline"><i class="fa fa-instagram"></i></a></li>
		<li class="col-xs-3"><a href="#" class="inline"><i class="fa fa-youtube"></i></a></li>
	</ul>
	</div>
  	</nav>
  	
</body>
</html>